.questionsEntryWarning1
  = fa_icon "fas.fa-check", class: "fa-check"
  クレジットカードの登録が完了いたしました。最速質問してみましょう！
.questionsEntryWarning2
  新規質問作成

.questionsEntryWarning3
  = fa_icon "fas.fa-exclamation-triangle", class: "fa-exclamation-triangle"
  金額が未入力です。

.questionsEntryWarning4
  = fa_icon "fas.fa-exclamation-triangle", class: "fa-exclamation-triangle"
  タグを入力してください。タグを設定することで解決依頼依頼が集まりやすくなります！


.questionsEntryBody
  .questionsEntryBodyTitle
    タイトル
  .questionsEntryBodyLanguage
    タグを追加 例：Ruby、Swift、Larvel
  .questionsEntryBodyQuestion
    .questionsEntryBodyQuestionMain
      .questionsEntryBodyQuestionMainHeader
        .questionsEntryBodyQuestionMainHeader1
          本文
        .questionsEntryBodyQuestionMainHeader2
          = fa_icon "far.fa-grin", class: "fa-grin"
        .questionsEntryBodyQuestionMainHeader3
          = fa_icon "far.fa-image", class: "fa-image"
        .questionsEntryBodyQuestionMainHeader4
          = fa_icon "far.fa-question-circle", class: "fa-question-circle"
          マークダウンで書くヒント
      .questionsEntryBodyQuestionMainText
        インクリメンタルサーチがうまくいきません

        ただいまECサイトを作成している最中でして商品を検索する際、
        Keyupでのインクリメンタルサーチを実装しようと考えております
        しかしながらkeyupでのイベントがどうも発火していません。
        Console.logやdebaggaを使って確認しているのですが、治らない状況です。
        コードは下記の通りです

        対象コード

        試したこと
        Console.logとdebbagaによるデバック。

        言語環境
        ruby 3.2.1
        Rails 5.1.6
        インクリメンタルサーチがうまくいきません
        インクリメンタルサーチがうまくいきません

        ただいまECサイトを作成している最中でして商品を検索する際、
        Keyupでのインクリメンタルサーチを実装しようと考えております
        しかしながらkeyupでのイベントがどうも発火していません。
        Console.logやdebaggaを使って確認しているのですが、治らない状況です。
        コードは下記の通りです

        対象コード

        試したこと
        Console.logとdebbagaによるデバック。

        言語環境
        ruby 3.2.1
        Rails 5.1.6
        インクリメンタルサーチがうまくいきません        インクリメンタルサーチがうまくいきません

        ただいまECサイトを作成している最中でして商品を検索する際、
        Keyupでのインクリメンタルサーチを実装しようと考えております
        しかしながらkeyupでのイベントがどうも発火していません。
        Console.logやdebaggaを使って確認しているのですが、治らない状況です。
        コードは下記の通りです

        対象コード

        試したこと
        Console.logとdebbagaによるデバック。

        言語環境
        ruby 3.2.1
        Rails 5.1.6
        インクリメンタルサーチがうまくいきません
    .questionsEntryBodyQuestionPreview
      .questionsEntryBodyQuestionPreviewHeader
        .questionsEntryBodyQuestionPreviewHeader1
          プレビュー
      .questionsEntryBodyQuestionPreviewText
        インクリメンタルサーチがうまくいきません

        ただいまECサイトを作成している最中でして商品を検索する際、
        Keyupでのインクリメンタルサーチを実装しようと考えております
        しかしながらkeyupでのイベントがどうも発火していません。
        Console.logやdebaggaを使って確認しているのですが、治らない状況です。
        コードは下記の通りです

        対象コード

        試したこと
        Console.logとdebbagaによるデバック。

        言語環境
        ruby 3.2.1
        Rails 5.1.6
        インクリメンタルサーチがうまくいきません
        インクリメンタルサーチがうまくいきません

        ただいまECサイトを作成している最中でして商品を検索する際、
        Keyupでのインクリメンタルサーチを実装しようと考えております
        しかしながらkeyupでのイベントがどうも発火していません。
        Console.logやdebaggaを使って確認しているのですが、治らない状況です。
        コードは下記の通りです

        対象コード

        試したこと
        Console.logとdebbagaによるデバック。

        言語環境
        ruby 3.2.1
        Rails 5.1.6
        インクリメンタルサーチがうまくいきません        インクリメンタルサーチがうまくいきません

        ただいまECサイトを作成している最中でして商品を検索する際、
        Keyupでのインクリメンタルサーチを実装しようと考えております
        しかしながらkeyupでのイベントがどうも発火していません。
        Console.logやdebaggaを使って確認しているのですが、治らない状況です。
        コードは下記の通りです

        対象コード

        試したこと
        Console.logとdebbagaによるデバック。

        言語環境
        ruby 3.2.1
        Rails 5.1.6
        インクリメンタルサーチがうまくいきません
  .questionsEntryBodyEstimate
    .questionsEntryBodyEstimatePrice
      .questionsEntryBodyEstimatePriceInput
        .questionsEntryBodyEstimatePriceInputTitle
          金額
        .questionsEntryBodyEstimatePriceInputYen
          ￥
        .questionsEntryBodyEstimatePriceInputBox
          5000
      .questionsEntryBodyEstimatePriceQuestion
        = fa_icon "far.fa-question-circle", class: "fa-question-circle"
        金額について
    .questionsEntryBodyEstimateInfo
      .questionsEntryBodyEstimateInfo1
        .questionsEntryBodyEstimateInfo1Title
          販売手数料
        .questionsEntryBodyEstimateInfo1Price
          ー
      .questionsEntryBodyEstimateInfo2
        .questionsEntryBodyEstimateInfo2Title
          掲載価格
        .questionsEntryBodyEstimateInfo2Price
          ー
    .questionsEntryBodyEstimateButton#js-policy-open
      =link_to "", class: "questionsBtn" do
        質問を出品する



  #questionPolicyOverlay
    = render "questions/questionsPolicy"

  #questionPolicy2Overlay
    = render "questions/questionsPolicy2"

/ #qustionPolicyOverlaySecond
/ = render "questions/qustionPolicySecond"



