- time = Time.now

%footer
  #contact_information
    .information_title
      = image_tag 'logo1'
      お問い合わせ
    %ul
      %li
        = fa_icon 'phone'
        000-0000-0000
      %li
        = fa_icon  'envelope-o'
        4Qode@example.com
      %li 年末年始を除き年中無休
    %p
      = time.strftime('%Y')
      4Qode Co., Ltd.
  #site_map
    %ul
      %li
        = fa_icon 'caret-right', class: 'icon'
        = link_to 'タグ一覧'
      %li
        = fa_icon 'caret-right', class: 'icon'
        = link_to 'ユーザーを探す'
      %li
        = fa_icon 'caret-right', class: 'icon'
        = link_to '4Qodeについて'
      %li
        = fa_icon 'caret-right', class: 'icon'
        = link_to 'ユーザー一覧'
      %li
        = fa_icon 'caret-right', class: 'icon'
        = link_to 'ヘルプ'
      %li
        = fa_icon 'caret-right', class: 'icon'
        = link_to '運営からのお知らせ'
      %li
        = fa_icon 'caret-right', class: 'icon'
        = link_to '運営会社'
      %li
        = fa_icon 'caret-right', class: 'icon'
        = link_to '利用規約'
      %li
        = fa_icon 'caret-right', class: 'icon'
        = link_to '個人情報の取り扱い'
      %li.contact
        = fa_icon 'caret-right', class: 'icon'
        = link_to 'お問い合わせ'