%footer.footer
  .footerBody
    .footerBodyLogo
      ロゴ出来次第挿入予定
    %ul
      %li
        = fa_icon 'caret-right', class: 'icon'
        = link_to 'タグ一覧'
      %li
        = fa_icon 'caret-right', class: 'icon'
        = link_to 'ユーザーを探す'
      %li
        = fa_icon 'caret-right', class: 'icon'
        = link_to '4Qodeについて'
      %li
        = fa_icon 'caret-right', class: 'icon'
        = link_to 'ユーザー一覧'
      %li
        = fa_icon 'caret-right', class: 'icon'
        = link_to 'ヘルプ'
      %li
        = fa_icon 'caret-right', class: 'icon'
        = link_to '運営からのお知らせ'
      %li
        = fa_icon 'caret-right', class: 'icon'
        = link_to '運営会社'
      %li
        = fa_icon 'caret-right', class: 'icon'
        = link_to '利用規約'
      %li
        = fa_icon 'caret-right', class: 'icon'
        = link_to '個人情報の取り扱い'
      %li.contact
        = fa_icon 'caret-right', class: 'icon'
        = link_to 'お問い合わせ'
  .footerContact
    .footerContactBox
      .footerContactBoxText
        4Qodeについてご意見お聞かせください
      .footerContactBoxSubmit
        送信
      %p
        いただいたご意見への回答は行っておりません。
  .footerCopyright
    ©︎2019 4Qode