%main
  .toppage_index_block
    .toppage_index_regist
      .toppage_index_box
        .toppage_index_descrpt
          %p.toppage_index_descrpt_name
            全てのエンジニアのための[副業]Q&Aサイト
          %p.toppage_index_descrpt_who
            4Qode
          %p.toppage_index_descrpt_how
            画面共有と通話で
            %br あなたの質問解消にコミットする
          %p.toppage_index_descrpt_what
            4Qodeでは、あなたの質問の売り買いを通して、
            %br スピーディで温かみある質問解消を実現します
        .toppage_index_inputs
          .toppage_index_user
            = link_to '#', class: "btn-social-long-twitter" do
              %i.fa.fa-twitter-square
              %span Twitterでログイン
            = link_to '#', class: "btn-social-long-facebook" do
              %i.fa.fa-facebook-square
              %span Facebookでログイン
            = link_to '#', class: "btn-social-long-github" do
              %i.fa.fa-github-square
              %span Githubでログイン
          .toppage_index_text
            OR
          .toppage_index_signup
            = form_with url: '#' do |f|
              =f.text_field :user, placeholder: 'ユーザー名'
              =f.text_field :email, placeholder: 'メールアドレス'
              =f.submit "無料で登録する", class: 'submit'
    %section
      .toppage_index_contents
        .toppage_index_tag
          質問をタグから探す
        .toppage_index_category
          = form_with(local: true) do |form|
            - %w(未解決 Ruby PHP Java JS Python C++ 未解決 Ruby PHP Java JS Python C++).each do |r,i|
              = form.check_box :checkbox, {id: "checkbox_#{r}", class: "toppage_index_checkbox", multiple: true}, r
              = form.label(:checkbox, r, for: "checkbox_#{r}", class: "toppage_index_label")
        %section.toppage_index_card
          %h2 新着Questions
        .toppage_index_card
          %h3 Ruby新着Questions
          .toppage_index_card_wrapper_margin_bottom
            = render 'shared/questionCard'
            = render 'shared/questionCard'
            = render 'shared/questionCard'
            = render 'shared/questionCard'
          .toppage_index_more
            = link_to "もっとみる>>", '#'

        .toppage_index_card
          %h3 Ruby新着Questions
          .toppage_index_card_wrapper_margin_bottom
            = render 'shared/questionCard'
            = render 'shared/questionCard'
            = render 'shared/questionCard'
            = render 'shared/questionCard'
          .toppage_index_more
            = link_to "もっとみる>>", '#'

        .toppage_index_card
          %h3 Ruby新着Questions
          .toppage_index_card_wrapper_margin_bottom
            = render 'shared/questionCard'
            = render 'shared/questionCard'
            = render 'shared/questionCard'
            = render 'shared/questionCard'
          .toppage_index_more
            = link_to "もっとみる>>", '#'

        %section.toppage_index_card
          %h2 高単価Questions
        .toppage_index_card
          %h3 Ruby新着Questions
          .toppage_index_card_wrapper_margin_bottom
            = render 'shared/questionCard'
            = render 'shared/questionCard'
            = render 'shared/questionCard'
            = render 'shared/questionCard'
          .toppage_index_more
            = link_to "もっとみる>>", '#'

        .toppage_index_card
          %h3 Ruby新着Questions
          .toppage_index_card_wrapper_margin_bottom
            = render 'shared/questionCard'
            = render 'shared/questionCard'
            = render 'shared/questionCard'
            = render 'shared/questionCard'
          .toppage_index_more
            = link_to "もっとみる>>", '#'

    .toppage_index_select
      = link_to '#', class: "toppage_index_pageup" do
        %span PAGE TOP
        %i.fas.fa-arrow-up
