.newMain
  %h1 新規登録
  .newMainMail
    %h2.newMainMailTitle
      = image_tag 'gmail.png'
      %p メールアドレスで登録
    .newMainMailName
      %p ユーザー名　　　※実名をご記入ください
      .newMainMailNameBox
        test
    .newMainMailAddress
      %p メールアドレス
      .newMainMailAddressBox
        example@4qode.com
    .newMainMailPassword
      %p パスワード　　　※半角英数字6~20文字
      .newMainMailPasswordBox
        password
    %p.text
      = link_to "利用規約", ''
      及び
      = link_to "個人情報"
      の取り扱いに関する要項をご確認の上、同意いただける場合は、「同意して登録」ボタンを押してください。
    .newMainMailSend
      =link_to "同意して登録", 'create'
    
  .newMainSns
    %h2.newMainSnsTitle
      = image_tag 'sns.png'
      %p SNSで登録
    .newMainSnsBox
      %li
        = link_to do
          = image_tag 'facebook.png'
          %p Facebook
      %li 
        = link_to do
          = image_tag 'twitter.png'
          %p Twitter
      %li
        = link_to do
          = image_tag 'google.png' 
          %p google
      %li
        = link_to do
          = image_tag 'github.png'
          %p Github
  .clearfix

= render 'default/footer'
