#main_container
  #questions_show_container
    #questions_show_detail
      %ul
        %li PHP
        %li Android
      %h1 インクリメンタルサーチができません
      %span.status 進行中
      %span 閲覧数　7
      %span 回答数　0
      #post_detail
        #post_day
          %span 投稿日　2019/07/04 23:46
          %span 回答期限　2019/07/11 23:46
        #post_user
          = image_tag "icon_sample"
          #post_user_detail
            %p Hironori Tsukishima
            #post_user_count
              %span
                いいね
                %br
                300
              %span
                解決数
                %br
                1000
              %button +フォロー中
    #questions_show_element
      %p ただいまECサイトを作成している最中でして商品を検索する際、Keyupでのインクリメンタルサーチを実装しようと考えております、がkeyupでのイベントがどうも発火していません。
      %p Console.logやdebaggaを使って確認しているのですが、治らない状況です。
      %p
      %p コードは下記の通りです
      -# TODO: @question.bodyなど変数できたら()に代入
      -# = markdown().html_safe
      %p 結果画像は以下に添付します
      = image_tag "icon_sample"
      %p よろしくお願いします。
  #questions_answer_container
    #questions_answer_chat.answer_user
      = image_tag "icon_sample"
      .chat_element
        %p よろしくお願いします。
    #questions_answer_chat.answer_user
      = image_tag "icon_sample"
      .chat_element
        %p バブリングなど検討しましたか？
    #questions_answer_chat.post_user
      = image_tag "icon_sample"
      .chat_element
        %p バブリングとは何でしょう？すみません勉強不足で、、。
    #questions_answer_chat.answer_user
      = image_tag "icon_sample"
      .chat_element
        %p ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
        %p ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
        %p ジャルジャル まじでおもろい
    #questions_answer_chat.post_user
      = image_tag "icon_sample"
      .chat_element
        %p ダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキストダミーテキスト
        %p ジャルジャル まじでおもろい
    #questions_answer_chat.post_user
      = image_tag "icon_sample"
      .chat_element
        %span ● ● ●
    #chat_form
      -# TODO: モデルできたらフォーム作成

  %button.answer_submit
    質問が解決しました！
    %span 終了する

#communication_means
  .test
    .call
      %span
        .fas.fa-phone-volume
        %br/
        通話
  .test
    .screen_sharing
      %span
        .fas.fa-desktop
        %br/
        画面共有

.answer_modal.js_answer_model
  .answer_modal_bg.js_answer_close
  .answer_content
    .answer_header
      お疲れ様でした！
      %br/
      Hironori Tsukisima さんを評価しましょう！
    .answer_body
      .answer_body_detail2
        .answer_body_text2
          %p 星をクリックで入力
          .stats
            .stars
              - 5.times do
                = fa_icon "fas fa-star", class: "fas fa-star", style: "margin:0 20px;font-size:60px;"
          %p お礼メッセージを送ると喜ばれます。
      .search_form
        = form_with url: '#' do |f|
          = f.text_area :comment, autocomplete: "off", placeholder: '&#13;&#10;メッセージ例&#13;&#10;&#13;&#10;ずっと悩んでいた課題が解決さあれました！&#13;&#10;&#13;&#10;初心者の自分にもわかりやすく、素早く解決してくれて助かりました。&#13;&#10;またよろしくお願いします。'.html_safe, class: "search_text_area"
      .answer_button
        = link_to "#", class: "btn1" do
          キャンセル
        = link_to "#", class: "btn2" do
          評価する
