%nav.mypageSideBar
  %ul.mypageSideBarLists
    %li.mypageSideBarList
      = link_to "マイページ",  class: "mypageNavList"
    %li.mypageSideBarList
      = link_to "お知らせ", index1_mypages_path, class: "mypageNavList"
    %li.mypageSideBarList
      = link_to "請負申請者一覧", index1_mypages_path, class: "mypageNavList"
    %li.mypageSideBarList
      = link_to "質問する", class: "mypageNavList"
    %li.mypageSideBarList
      = link_to "解決した質問(質問側)", index2_mypages_path, class: "mypageNavList"
    %li.mypageSideBarList
      = link_to "未解決の質問(質問側)", index2_mypages_path, class: "mypageNavList"
    %li.mypageSideBarList
      = link_to "解決した質問(解決側)", index3_mypages_path, class: "mypageNavList"
    %li.mypageSideBarList
      = link_to "評価一覧", index4_mypages_path,class: "mypageNavList"
    %li.mypageSideBarList
      = link_to "コメント一覧",class: "mypageNavList"
    %li.mypageSideBarList
      = link_to "ガイド", class: "mypageNavList"
    %li.mypageSideBarList
      = link_to "お問い合わせ", class: "mypageNavList"
  %ul.mypageSideBarLists
    %li.mypageSideBarList
      = link_to "売上", index5_mypages_path,class: "mypageNavList"
    %li.mypageSideBarList
      = link_to "コインチャージ", index5_mypages_path, class: "mypageNavList"
  %ul.mypageSideBarLists
    %li.mypageSideBarList
      = link_to "プロフィール", profile_mypages_path, class: "mypageNavList"
    %li.mypageSideBarList
      = link_to "アドレス/パスワード", mail_password_mypages_path, class: "mypageNavList"
    %li.mypageSideBarList
      = link_to "支払い方法登録/変更", card_mypages_path, class: "mypageNavList"
  %ul.mypageSideBarLists
    %li.mypageSideBarList
      = link_to "ログアウト",logout_mypages_path, class: "mypageNavList"
