%wrapper.mypage
  %wrapper.mypageSideBars
    = render partial: "sidebar"
  %wrapper.mypageBody
    %wrapper.mypageHeaders
      = render partial: "head"
    .mypageHeaderBars
      %h4.mypageHeaderLeftbar
        解決した質問
      %h4.mypageHeaderRightbar
    %ul.mypageResolution
      %li.dataList
        .dataListHead
          %p.dataListDate
            2019/4/3
          %p.dataListTitle
            お肉が大好きです
        .dataListMain
          .dataListIcon
          %p.dataListName
            桐谷健太
          .datalistRport
            %p.dataListEvaluation
              評価　3.5
            .dataListResolution
              解決数　50
          %table.dataListStutz
            %tr
              %th.dataListUserEvalution 自分の評価
              %td.dataListUserStar
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
            %tr
              %th.dataListFromUserEvalution 相手からの評価
              %td.dataListFromUserStar
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
      %li.dataList
        .dataListHead
          %p.dataListDate
            2019/4/3
          %p.dataListTitle
            お肉が大好きです
        .dataListMain
          .dataListIcon
          %p.dataListName
            桐谷健太
          .datalistRport
            %p.dataListEvaluation
              評価　3.5
            .dataListResolution
              解決数　50
          %table.dataListStutz
            %tr
              %th.dataListUserEvalution 自分の評価
              %td.dataListUserStar
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
            %tr
              %th.dataListFromUserEvalution 相手からの評価
              %td.dataListFromUserStar
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
      %li.dataList
        .dataListHead
          %p.dataListDate
            2019/4/3
          %p.dataListTitle
            お肉が大好きです
        .dataListMain
          .dataListIcon
          %p.dataListName
            桐谷健太
          .datalistRport
            %p.dataListEvaluation
              評価　3.5
            .dataListResolution
              解決数　50
          %table.dataListStutz
            %tr
              %th.dataListUserEvalution 自分の評価
              %td.dataListUserStar
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
            %tr
              %th.dataListFromUserEvalution 相手からの評価
              %td.dataListFromUserStar
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
      %li.dataList
        .dataListHead
          %p.dataListDate
            2019/4/3
          %p.dataListTitle
            お肉が大好きです
        .dataListMain
          .dataListIcon
          %p.dataListName
            桐谷健太
          .datalistRport
            %p.dataListEvaluation
              評価　3.5
            .dataListResolution
              解決数　50
          %table.dataListStutz
            %tr
              %th.dataListUserEvalution 自分の評価
              %td.dataListUserStar
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
            %tr
              %th.dataListFromUserEvalution 相手からの評価
              %td.dataListFromUserStar
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
