%wrapper.mypage
  %wrapper.mypageSideBars
    = render partial: "sidebar"
  %wrapper.mypageBody
    %wrapper.mypageHeaders
      = render partial: "head"
    .mypageHeaderBars
      %h4.mypageHeaderLeftbar
        解決した質問
      %h4.mypageHeaderRightbar
        未解決の質問
    %ul.mypageResolution
      %li.dataList
        .dataListHead
          %p.dataListDate
            2019/4/3
          %p.dataListTitle
            お肉が大好きです
        .dataListMain
          .dataListIcon
          %p.dataListName
            桐谷健太
          .dataListRport
            %p.dataListEvaluation
              評価　3.5
            %p.dataListResolution
              解決数　50
          %table.dataListStutz
            %tr
              %th.dataListUserEvalution 自分の評価
              %td.dataListUserStar
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
            %tr
              %th.dataListFromUserEvalution 相手からの評価
              %td.dataListFromUserStar
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
      %li.dataList
        .dataListHead
          %p.dataListDate
            2019/4/3
          %p.dataListTitle
            お肉が大好きです
        .dataListMain
          .dataListIcon
          %p.dataListName
            桐谷健太
          .dataListRport
            %p.dataListEvaluation
              評価　3.5
            %p.dataListResolution
              解決数　50
          %table.dataListStutz
            %tr
              %th.dataListUserEvalution 自分の評価
              %td.dataListUserStar
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
            %tr
              %th.dataListFromUserEvalution 相手からの評価
              %td.dataListFromUserStar
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
      %li.dataList
        .dataListHead
          %p.dataListDate
            2019/4/3
          %p.dataListTitle
            お肉が大好きです
        .dataListMain
          .dataListIcon
          %p.dataListName
            桐谷健太
          .dataListRport
            %p.dataListEvaluation
              評価　3.5
            %p.dataListResolution
              解決数　50
          %table.dataListStutz
            %tr
              %th.dataListUserEvalution 自分の評価
              %td.dataListUserStar
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
            %tr
              %th.dataListFromUserEvalution 相手からの評価
              %td.dataListFromUserStar
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
      %li.dataList
        .dataListHead
          %p.dataListDate
            2019/4/3
          %p.dataListTitle
            お肉が大好きです
        .dataListMain
          .dataListIcon
          %p.dataListName
            桐谷健太
          .dataListRport
            %p.dataListEvaluation
              評価　3.5
            %p.dataListResolution
              解決数　50
          %table.dataListStutz
            %tr
              %th.dataListUserEvalution 自分の評価
              %td.dataListUserStar
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
            %tr
              %th.dataListFromUserEvalution 相手からの評価
              %td.dataListFromUserStar
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
      %li.dataList
        .dataListHead
          %p.dataListDate
            2019/4/3
          %p.dataListTitle
            お肉が大好きです
        .dataListMain
          .dataListIcon
          %p.dataListName
            桐谷健太
          .dataListRport
            %p.dataListEvaluation
              評価　3.5
            %p.dataListResolution
              解決数　50
          %table.dataListStutz
            %tr
              %th.dataListUserEvalution 自分の評価
              %td.dataListUserStar
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
            %tr
              %th.dataListFromUserEvalution 相手からの評価
              %td.dataListFromUserStar
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
                = fa_icon "fas fa-star", class: "fas fa-star"
    %ul.mypageUnsolved
      %li.dataList
        .dataListDate
          2019/4/3
        .dataListTitle
          お肉が大好きです
        .dataListApplication
          解決申請　5
      %li.dataList
        .dataListDate
          2019/4/3
        .dataListTitle
          お肉が大好きですああああああああああああああああああああああああああああ
        .dataListApplication.None
          解決申請　5
      %li.dataList
        .dataListDate
          2019/4/3
        .dataListTitle
          お肉が大好きです
        .dataListApplication.None
          解決申請　5
      %li.dataList
        .dataListDate
          2019/4/3
        .dataListTitle
          お肉が大好きです
        .dataListApplication
          解決申請　5
