%wrapper.mypage
  %wrapper.mypageSideBars
    = render partial: "sidebar"
  %wrapper.mypageBody
    %wrapper.mypageHeaders
      = render partial: "head"
    .mypageHeaderBars
      %h4.mypageHeaderLeftbar
        獲得売上
      %h4.mypageHeaderRightbar
        コインチャージ
    %ul.coinInfomation
      %li.dataList
        獲得総売上　￥339,500
      %li.dataList
        解決数　30
      %li.dataList
        獲得単価 ¥2980
      %li.dataList
        支払い金額　¥172,000
      %li.dataList
        4Qode コイン残高 ¥39800
    %ul.coinHistory
      %li.dataList
        獲得履歴
      %li.dataList
        売上金の振り込み申請取得
    %ul.coinTransfer
      %li.dataList
        振り込み申請して現金を受け取る
      %li.dataList
        振り込み申請履歴
    %ul.coinCharge
      %li.dataList
        = fa_icon "fab fa-contao", class: "fab fa-contao"
        %P.coins 5200  200コインお得
        %p.pay ¥5000
      %li.dataList
        = fa_icon "fab fa-contao", class: "fab fa-contao"
        %P.coins 10200  400コインお得
        %p.pay ¥9800
      %li.dataList
        = fa_icon "fab fa-contao", class: "fab fa-contao"
        %P.coins 20700  900コインお得
        %p.pay ¥19800
      %li.dataList
        = fa_icon "fab fa-contao", class: "fab fa-contao"
        %P.coins 31200  1400コインお得
        %p.pay ¥29800
      %li.dataList
        = fa_icon "fab fa-contao", class: "fab fa-contao"
        %P.coins 41700  1900コインお得
        %p.pay ¥39800
      %li.dataList
        = fa_icon "fab fa-contao", class: "fab fa-contao"
        %P.coins 52300  2500コインお得
        %p.pay ¥49800
