%wrapper.mypage
  %wrapper.mypageSideBars
    = render partial: "sidebar"
  %wrapper.mypageBody
    %wrapper.mypageHeaders
      = render partial: "head"
    .mypageHeaderBars
      %h4.mypageHeaderLeftbar
        請負申請者一覧
      %h4.mypageHeaderRightbar
        お知らせ一覧
    %ul.mypageContractors
      %li.dataList
        .dataListHead
          %p.dataListDate
            2019/3/28
          %p.dataListTitle
            お肉が大好きです
        .dataListMain
          .dataListIcon
          %p.dataListName
            桐谷健太
          %p.dataListStatus
            ログイン
          %p.dataListEvaluation
            評価 3.5
          %p.dataListResolution
            解決数 50
          %p.dataListTimeIcon
            = fa_icon "fas fa-clock", class: "fas fa-clock"
      %li.dataList
        .dataListHead
          %p.dataListDate
            2019/3/28
          %p.dataListTitle
            お肉が大好きです
        .dataListMain
          .dataListIcon
          %p.dataListName
            桐谷健太
          %p.dataListStatus
            ログイン
          %p.dataListEvaluation
            評価 3.5
          %p.dataListResolution
            解決数 50
          %p.dataListTimeIcon
            = fa_icon "fas fa-clock", class: "fas fa-clock"
      %li.dataList
        .dataListHead
          %p.dataListDate
            2019/3/28
          %p.dataListTitle
            お肉が大好きです
        .dataListMain
          .dataListIcon
          %p.dataListName
            桐谷健太
          %p.dataListStatus.None
            ログイン
          %p.dataListEvaluation
            評価 3.5
          %p.dataListResolution
            解決数 50
          %p.dataListTimeIcon
            = fa_icon "fas fa-clock", class: "fas fa-clock"
      %li.dataList
        .dataListHead
          %p.dataListDate
            2019/3/28
          %p.dataListTitle
            お肉が大好きです
        .dataListMain
          .dataListIcon
          %p.dataListName
            桐谷健太
          %p.dataListStatus
            ログイン
          %p.dataListEvaluation
            評価 3.5
          %p.dataListResolution
            解決数 50
          %p.dataListTimeIcon
            = fa_icon "fas fa-clock", class: "fas fa-clock"
      %li.dataList
        .dataListHead
          %p.dataListDate
            2019/3/28
          %p.dataListTitle
            お肉が大好きです
        .dataListMain
          .dataListIcon
          %p.dataListName
            桐谷健太
          %p.dataListStatus.None
            ログイン
          %p.dataListEvaluation
            評価 3.5
          %p.dataListResolution
            解決数 50
          %p.dataListTimeIcon
            = fa_icon "fas fa-clock", class: "fas fa-clock"
      %li.dataList
        .dataListHead
          %p.dataListDate
            2019/3/28
          %p.dataListTitle
            お肉が大好きです
        .dataListMain
          .dataListIcon
          %p.dataListName
            桐谷健太
          %p.dataListStatus.None
            ログイン
          %p.dataListEvaluation
            評価 3.5
          %p.dataListResolution
            解決数 50
          %p.dataListTimeIcon
            = fa_icon "fas fa-clock", class: "fas fa-clock"
    %ul.mypageNotifications
      %li.dataList
        .dataListNotification
          .dataListNotificationIcon
          .dataListNotificationInfo
            %p.dataListDate
              2019/3/28
            %p.dataListTitles
              サーバーがサボり始めましたよ
      %li.dataList
        .dataListNotification
          .dataListNotificationIcon
          .dataListNotificationInfo
            %p.dataListDate
              2019/3/28
            %p.dataListTitles
              サーバーがサボり始めましたよ
      %li.dataList
        .dataListNotification
          .dataListNotificationIcon
          .dataListNotificationInfo
            %p.dataListDate
              2019/3/28
            %p.dataListTitles
              サーバーがサボり始めましたよ
      %li.dataList
        .dataListNotification
          .dataListNotificationIcon
          .dataListNotificationInfo
            %p.dataListDate
              2019/3/28
            %p.dataListTitles
              サーバーがサボり始めましたよ
