%wrapper.mypage
  = render partial: "sidebar"
  %wrapper.main
    %h2 総合評価
    .stats
      .rate 4.6
      .stars
        - 4.times do
          = fa_icon "fas fa-star", class: "fas fa-star", style: "margin:0 20px;font-size:60px;"
      .counts 全52件の評価
    #tabs.reviewtabs
      %h3.left.selected{data_type: "q_side"} 質問側
      %h3.right{data_type: "a_side"} 回答側
    .swich
      .status
        .rate
          4.2
          %br
          %br
          %p 全31件の評価
      .stars
        - 4.times do
          = fa_icon "fas fa-star", class: "fas fa-star", style: "padding-top:25px;font-size:30px;margin:0 5px;"
    #body.bodies
      - 10.times do
        こっちは質問側だよ
        #q_side.content.solved
          %h4.status
            解決策
            %br
            %br
            7回答
          .body
            %h4.title インクリメンタルサーチができませんああああああああああああああああああああああああああああああああああああ
            .labels
              - @labels.each do |label|
                .label
                  %p= label
            .smallbody
              .text aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              .info
                .icon{ style: "width:30px;height:30px;"}
                %p.username ユーザー名(字数制限２０文字まで入る？)
      - 10.times do
        こっちは回答側だよー
        #a_side.content.solved
          %h4.status
            解決策
            %br
            %br
            7回答
          .body
            %h4.title インクリメンタルサーチができませんああああああああああああああああああああああああああああああああああああ
            .labels
              - @labels.each do |label|
                .label
                  %p= label
            .smallbody
              .text aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              .info
                .icon{ style: "width:30px;height:30px;"}
                  %p.username ユーザー名(字数制限２０文字まで入る？)