%wrapper.mypage
  = render partial: "sidebar"
  %wrapper.contents
    = render partial: "head"
    %h3 履歴確認・売り上げ申請
    .buttons
      %button
        = link_to "売り上げ履歴", salesHistory_mypages_path
      %button
        = link_to "振り込み申請をして現金を受け取る", transferApp_mypages_path
      %button
        = link_to "売上金振込申請期限", salesTerm_mypages_path

    -# TODO: ページ遷移の確認
    -#   %h3 売上申請履歴
    -#   %ul.modal
    -#     - 3.times do
    -#       %li{ style: "border-top:  solid 1px #DEDEDE;"}
    -#         %label{ style: "margin-right:auto;"}　2019/07/04
    -#           %button 戻る