%wrapper.mypage
  = render partial: "sidebar"
  %wrapper.contents
    = render partial: "head"
    .transfer
      %h3 振込申請
      %ul
        %li
          %label 振込先
          .change
            = image_tag 'pencil.png', size: '15x15'
            振込先を変更する
        -# - form_with　'#' do |f|
        %li
          %label 銀行名
          %p みずほ銀行
        %li
          %label 講座種別
          %p 普通講座
        %li
          %label 支店コード
          %p 003
        %li
          %label 口座番号
          %p 12345678
        %li
          %label 口座名義(セイ)
          %p ウエノ
        %li
          %label 口座名義(メイ)
          %p ヒデナリ
        %li
          %label 銀行名
          %p みずほ銀行
        %li
          %label 住所氏名
          %p
            東京都荒川区西奥11-8-2
            %br
            モンテネグロ4182
            %br
            %br
            上野　秀成
        %li
          %label 生年月日
          %p 1989/02/29
      .buttons{ style: "margin-top: 30px"}
        %button
          = link_to "振込申請をする", registrationCard_mypages_path
        %button.nega
          = link_to "キャンセル", :back
