= render "shared/header"
%wrapper.start
  %wrapper.startSideBars
    %nav.startSideBars
      %p.startSideBarsTitle
        始めての方へ
      %ul
        %li.firstGuide.selectedList.menuClick1#borderLine1
          = link_to "始めてガイド", class: "startNavList", id: "sub-menu-open"
          = fa_icon "fas.fa-angle-right", class: "fa-angle-right", id: "fa-firstGuide"
        //SubMenu
        %li.SideBarSub_firstGuide#borderLine1
          = link_to "1分でわかる4Qode", class: ""
        %li.SideBarSub_firstGuide#borderLine1
          = link_to "ルールとマナー", class: ""

        %li.questionGuide#borderLine1
          = link_to "質問に関して", question_starts_path, class: "startNavList"
          = fa_icon "fas.fa-angle-right", class: "fa-angle-right", id: "fa-questions"
        //SubMenu
        %li.SideBarSub_questions#borderLine1
          = link_to "マークダウンがプレビューされない（仮）", class: ""
        %li.SideBarSub_questions#borderLine1
          = link_to "質問解決後の評価をしてくれない（仮）", class: ""
        %li.SideBarSub_questions#borderLine1
          = link_to "取引をキャンセルしたい（仮）", class: ""

        %li.solutionGuide#borderLine1
          = link_to "解決に関して", solution_starts_path, class: "startNavList"
          = fa_icon "fas.fa-angle-right", class: "fa-angle-right", id: "fa-solution"
        //SubMenu
        %li.SideBarSub_solution#borderLine1
          = link_to "請負申請に返信がこない（仮）", class: ""
        %li.SideBarSub_solution#borderLine1
          = link_to "質問解決後の評価をしてくれない（仮）", class: ""
        %li.SideBarSub_solution#borderLine1
          = link_to "取引をキャンセルしたい（仮）", class: ""

        %li.coinGuide#borderLine1
          = link_to "サイト内コインに関して", coin_starts_path, class: "startNavList"
          = fa_icon "fas.fa-angle-right", class: "fa-angle-right", id: "fa-coin"
        //SubMenu
        %li.SideBarSub_coin#borderLine1
          = link_to "チャージが反映されない（仮）", class: ""
        %li.SideBarSub_coin#borderLine1
          = link_to "解決した質問の売り上げが反映されない（仮）", class: ""
        %li.SideBarSub_coin#borderLine1
          = link_to "銀行振込ができない（仮）", class: ""

        %li.registerGuide#borderLine1
          = link_to "登録/ログイン/通知に関して", regist_starts_path, class: "startNavList"
          = fa_icon "fas.fa-angle-right", class: "fa-angle-right", id: "fa-register"
        //SubMenu
        %li.SideBarSub_register#borderLine1
          = link_to "通知が来ない（仮）", class: ""
        %li.SideBarSub_register#borderLine1
          = link_to "本人情報を確認/編集したい（仮）", class: ""
        %li.SideBarSub_register#borderLine1
          = link_to "口座情報を確認/編集したい（仮）", class: ""

        %li.cancelGuide
          = link_to "キャンセル/返金に関して", cancel_starts_path, class: "startNavList"
          = fa_icon "fas.fa-angle-right", class: "fa-angle-right", id: "fa-cancel"
        //SubMenu
        %li.SideBarSub_cancel#borderLine1
          = link_to "解決した質問をキャンセルしたい（購入者）", class: ""
        %li.SideBarSub_cancel#borderLine1
          = link_to "解決されなかったので、キャンセルしたい（出品者）", class: ""
        %li.SideBarSub_cancel#borderLine1
          = link_to "いつキャンセルできるようになりますか？", class: ""

      %p.startSideBarsTitle
        規約について
      %ul.startSideBarsList
        %li#borderLine1
          = link_to "利用規約",  class: "startNavList"
        %li#borderLine1
          = link_to "プライバシーポリシー",  class: "startNavList"
        %li
          = link_to "商標に関して",  class: "startNavList"
      %p.startSideBarsTitle
        お問い合わせ
      %ul.startSideBarsList
        %li
          = link_to "お問い合わせ",  class: "startNavList"

  %wrapper.startBody
    .startBodyMain
      .startBodyMainTitle
        4Qodeガイド
      %ul.startBodyMainList
        %li.startBodyMainListGuide
          .startBodyMainListGuideTitle
            初めてガイド
          .startBodyMainListGuideBox
            .startBodyMainListGuideBox1
              = link_to "1分でわかる4Qode", class: "", id: ""
            .startBodyMainListGuideBox2
              = link_to "ルールとマナー", class: "", id: ""
        %li.startBodyMainListGuide
          .startBodyMainListGuideTitle
            質問に関して
          .startBodyMainListGuideBox
            .startBodyMainListGuideBox1
              = link_to "マークダウンがプレビューされない（仮）", class: "", id: ""
            .startBodyMainListGuideBox2
              = link_to "質問解決後の評価をしてくれない（仮）", class: "", id: ""
            .startBodyMainListGuideBox3
              = link_to "取引をキャンセルしたい（仮）", class: "", id: ""
        %li.startBodyMainListGuide
          .startBodyMainListGuideTitle
            解決に関して
          .startBodyMainListGuideBox
            .startBodyMainListGuideBox1
              = link_to "請負申請に返信がこない（仮）", class: "", id: ""
            .startBodyMainListGuideBox2
              = link_to "質問解決後の評価をしてくれない（仮）", class: "", id: ""
            .startBodyMainListGuideBox3
              = link_to "取引をキャンセルしたい（仮）", class: "", id: ""
        %li.startBodyMainListGuide
          .startBodyMainListGuideTitle
            サイト内コインに関して
          .startBodyMainListGuideBox
            .startBodyMainListGuideBox1
              = link_to "請負申請に返信がこない（仮）", class: "", id: ""
            .startBodyMainListGuideBox2
              = link_to "質問解決後の評価をしてくれない（仮）", class: "", id: ""
            .startBodyMainListGuideBox3
              = link_to "取引をキャンセルしたい（仮）", class: "", id: ""
        %li.startBodyMainListGuide
          .startBodyMainListGuideTitle
            登録/ログイン/通知に関して
          .startBodyMainListGuideBox
            .startBodyMainListGuideBox1
              = link_to "請負申請に返信がこない（仮）", class: "", id: ""
            .startBodyMainListGuideBox2
              = link_to "質問解決後の評価をしてくれない（仮）", class: "", id: ""
            .startBodyMainListGuideBox3
              = link_to "取引をキャンセルしたい（仮）", class: "", id: ""
        %li.startBodyMainListGuide
          .startBodyMainListGuideTitle
            キャンセル/返金に関して
          .startBodyMainListGuideBox
            .startBodyMainListGuideBox1
              = link_to "請負申請に返信がこない（仮）", class: "", id: ""
            .startBodyMainListGuideBox2
              = link_to "質問解決後の評価をしてくれない（仮）", class: "", id: ""
            .startBodyMainListGuideBox3
              = link_to "取引をキャンセルしたい（仮）", class: "", id: ""










= render 'default/footer'

= render 'shared/questionButton'
