!!!
%html
  %head
    %meta{content: "text/html; charset=UTF-8", http: {equiv: {Content: "Type"}}}/
    / %link{:href => "css/prism.css", :rel => "stylesheet"}/
    %link{:href => "https://use.fontawesome.com/releases/v5.6.1/css/all.css", :rel => "stylesheet"}
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css", :media => "all", :rel => "stylesheet", :type => "text/css"}/
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js", :type => "text/javascript"}
    %meta{content: "width=device-width,user-scalable=no,maximum-scale=1″ />", name: "viewport"}/
    %title FourQode
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = render 'default/header'
    = yield
    = render 'default/footer'
